
<div class="text-layout">
    <h1>DecimalPipe y Porcentaje</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module.
    </p>
</div>

<div class="p-grid">
    <div class="p-col-4">
        <p-card 
            header="Ventas Netas"
            subheader="del presente ano">
            <i class="pi pi-dollar"></i>
            {{ ventasNetas | number:'1.1-8'}}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card 
            header="Ventas Brutas"
            subheader="del presente ano">
            {{ ventasBrutas | currency:'CAD':'symbol-narrow':'1.1-8' }}
        </p-card>
    </div>
    <div class="p-col-4">
        <p-card 
            header="Margen porcentual"
            subheader="del presente ano">
            {{ porcentaje | percent: '2.2-2' }}
        </p-card>
    </div>
</div>
